body,
button,
input,
select,
optgroup,
textarea {
	color: $color__gray-900;
	font-family: $font__main;
	font-size: 1.125rem;
	line-height: $font__line-height-body;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

@import "headings";
@import "copy";
