.site-header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			&:not(:last-child) {
				margin: 0 2rem 0 0;
			}
		}

		ul {
			display: block;
			padding: 2rem;
			position: absolute;
			top: 100%;
			right: -50px;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
			z-index: 99999;
			opacity: 0;
			transition: .3s ease-out;
			pointer-events: none;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:not(:last-child) {
					margin: 0 0 .5rem 0;
				}

				&:hover > ul,
				&.focus > ul {
					display: block;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li {
			:not(:last-of-type) {
				margin: 0 0 2rem 0;
			}
		}

		li:hover > ul,
		li.focus > ul {
			right: 0;
			opacity: 1;
			pointer-events: initial;
		}
	}

	li {
		position: relative;

		&.special {
			a {
				@extend .button--link;

				&:after {
					background-color: $color__gray-900;
				}

				&:hover {
					&:after {
						opacity: 1;
					}
				}
			}
		}

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&.header--light {
		color: $color__gray-900;
		background-color: #fff;

		a {
			color: #fff;
		}
	}

	&.header--dark {
		color: #fff;
		background-color:  $color__gray-900;

		a {
			color: $color__gray-900;
		}
	}
}

/* Small menu. */
.menu-toggle,
.site-header__navigation.toggled ul {
	display: block;
}

@include screen('md') {
	.menu-toggle {
		display: none;
	}

	.site-header__navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
