.steps {

  /* Theme
  --------------------------------------------- */
  &.steps--black-white {
    background-color: $color__gray-900;
    color: #fff;

    a {
      color: #fff;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }

    .steps__row {
      border-color: $color__gray-700;
    }
  }

  &.steps--white-black {
    background-color: #fff;
    color: $color__gray-900;

    a {
      color: $color__gray-900;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }

    .steps__row {
      border-color: $color__gray-200;
    }
  }

  /* Margin & Padding
  --------------------------------------------- */
  &.has-margin--top {
    margin-top: 4rem;

    @include screen('sm') {
      margin-top: 6rem;
    }

    @include screen('md') {
      margin-top: 9rem;
    }
  }
  &.has-margin--bottom {
    margin-bottom: 4rem;

    @include screen('sm') {
      margin-bottom: 6rem;
    }

    @include screen('md') {
      margin-bottom: 9rem;
    }
  }

  &.has-padding--top {
    padding-top: 3rem;

    @include screen('sm') {
      padding-top: 4rem;
    }

    @include screen('md') {
      padding-top: 6rem;
    }
  }
  &.has-padding--bottom {
    padding-bottom: 3rem;

    @include screen('sm') {
      padding-bottom: 4rem;
    }

    @include screen('md') {
      padding-bottom: 6rem;
    }
  }

  /* Other
  --------------------------------------------- */
  .steps__container {
    @include container;
    @include center-block;
  }

  .steps__heading {
    @include max-width('md');
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .steps__subheading {
    @include font-size('xl');
  }

  .steps__rows {
    margin: 3rem 0 0;
    list-style: none;
    padding: 0;

    @include screen('sm') {
      margin: 4rem 0 0;
    }

    @include screen('md') {
      margin: 6rem 0 0;
    }

    .steps__row {

      &:not(:last-child) {
        padding-bottom: 1.5rem;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 3rem;
      }

      @include screen('md') {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 2rem;
        row-gap: 2rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 0;
      }

      .steps__count {
        display: block;
        @include font-size('6xl');
        margin-bottom: 1.5rem;

        @include screen('md') {
          @include font-size('8xl');
          margin: 0;
        }
      }
    }
  }
}