.text {

  &.text--black-white {
    background-color: $color__gray-900;
    color: #fff;

    a {
      color: #fff;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }

    .text__row {
      border-color: $color__gray-700;
    }
  }

  &.text--white-black {
    background-color: #fff;
    color: $color__gray-900;

    a {
      color: $color__gray-900;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }

    .text__row {
      border-color: $color__gray-200;
    }
  }

  &.has-margin--top {
    margin-top: 9rem;
  }
  &.has-margin--bottom {
    margin-bottom: 9rem;
  }

  &.has-padding--top {
    padding-top: 6rem;
  }
  &.has-padding--bottom {
    padding-bottom: 6rem;
  }

  .text__container {
    @include container;
    @include center-block;
  }

  .text__heading {
    @include max-width('md');
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .text__subheading {
    @include font-size('xl');
  }

  .text__rows {
    margin-top: 6rem;

    .text__row {

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 0;
      }

      &.cols--1 {
        @include max-width('md');
        margin-left: auto;
      }

      &.cols--2 {
        @include max-width('lg');
        margin-left: auto;

        @include screen('md') {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          column-gap: 2rem;
          row-gap: 2rem;
        }
      }

      &.divider--top {
        padding-top: 1.5rem;
        border-top-style: solid;
        border-top-width: 2px;
        margin-top: 3rem;
      }

      &.divider--bottom {
        padding-bottom: 1.5rem;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        margin-bottom: 3rem;
      }
    }
  }
}