.cases {

  &.cases--black-white {
    background-color: $color__gray-900;
    color: #fff;

    a {
      color: #fff;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }
  }

  &.cases--white-black {
    background-color: #fff;
    color: $color__gray-900;

    a {
      color: $color__gray-900;

      &.button--link {
        &:after {
          background-color: #fff;
        }
      }
    }
  }

  &.has-margin--top {
    margin-top: 4rem;

    @include screen('sm') {
      margin-top: 6rem;
    }

    @include screen('md') {
      margin-top: 9rem;
    }
  }
  &.has-margin--bottom {
    margin-bottom: 4rem;

    @include screen('sm') {
      margin-bottom: 6rem;
    }

    @include screen('md') {
      margin-bottom: 9rem;
    }
  }

  &.has-padding--top {
    padding-top: 3rem;

    @include screen('sm') {
      padding-top: 4rem;
    }

    @include screen('md') {
      padding-top: 6rem;
    }
  }
  &.has-padding--bottom {
    padding-bottom: 3rem;

    @include screen('sm') {
      padding-bottom: 4rem;
    }

    @include screen('md') {
      padding-bottom: 6rem;
    }
  }

  .cases__container {
    @include container();
    @include center-block;
  }

  .cases__heading {
    @include max-width('md');
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .cases__subheading {
    @include font-size('xl');
  }

  // Slider
  .cases__slider {
    list-style: none;
    margin: 3rem 0 0;
    padding: 0;

    @include screen('sm') {
      margin: 4rem 0 0;
    }

    @include screen('md') {
      margin: 6rem 0 0;
    }

    .slick-list {
      overflow: visible;
    }

    .slick-slide {
      margin-right: 2rem;
      width: calc( 100vw - 3rem );

      @include screen('md') {
        width: calc( 50vw - 3rem );
      }
    }

    .cases__slide {

      figure {
        margin: 0;
      }

      .cases__post-title {
        margin-top: .75rem;
      }
    }
  }
}