$color__gray-50: #fafafa;
$color__gray-100: #f5f5f5;
$color__gray-200: #e5e5e5;
$color__gray-300: #d4d4d4;
$color__gray-400: #a3a3a3;
$color__gray-500: #737373;
$color__gray-600: #525252;
$color__gray-700: #404040;
$color__gray-800: #262626;
$color__gray-900: #171717;

$color__background-body: #fff;
$color__background-screen: $color__gray-50;
$color__background-hr: $color__gray-200;
$color__background-button: #e6e6e6;
$color__background-pre: $color__gray-100;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $color__gray-600;
$color__text-input-focus: $color__gray-900;
$color__link: $color__gray-900; //royalblue
$color__link-visited: $color__gray-900; //purple
$color__link-hover: $color__gray-900; //midnightblue
$color__text-black: $color__gray-900;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;