.content-footer {
  background-color: $color__gray-900;

  .content-footer__container {
    @include container;
    @include center-block;
  }

  .content-footer__cta {
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-bottom: solid 1px $color__gray-700;
    color: white;

    h2.cta__text {
      @include max-width('md');
      margin: 0 auto 0 0;
    }

    a.cta__link {
      @extend .button--link;
      display: inline-block;
      margin-top: 2rem;
      color: white;

      &:after {
        background-color: white;
        opacity: .3;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .content-footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .content-footer__legal {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        @include font-size('sm');
        color: white;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
    .content-footer__branding {
      .site-title {
        margin: 0;

        a {
          @include font-size('sm');
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}